@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/publisher.js")"></script>
}

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false)
}

<h2>Publisher</h2>
<input type="text" id="reportName" placeholder="Enter report name" />
<button id="publishReport">Publish</button>

<div id="message">Any important messages will display here...</div>
