@model Fiver.Asp.SignalR.Models.ViewModels.ReportsViewModel

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/reports.js")"></script>
}

<h2>Reports</h2>

<ul id="reports">
    @foreach (var report in Model.Reports.OrderByDescending(x => x.DateAdded))
    {
        <li>@report.DateAdded.ToShortDateString() - @report.Name</li>
    }
</ul>
